<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Website </title>
    <link rel="stylesheet" href="homeStyle.css">
</head>
<body>
    <div class="banner"></div>

        <div class="content">
            <h2>Un CV designer intuitif et simple à utiliser</h2>
            <p>Notre CV designer a été élaboré pour faciliter et automatiser le plus possible la conception de votre CV.</p>
            <div>
                <button type="submit"><span></span><a style="text-decoration: none;" href="signupForm.php">S'inscrire</a></button>
                <button type="submit"><span></span><a style="text-decoration: none;" href="loginForm.php">Se connecter</a></button>
            </div>
        </div>

    </div>
  

</body>
</html>